@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Bitter&family=Kenia&family=Montserrat:wght@200;300&family=Noto+Sans:wght@300&family=Nunito:wght@300&family=PT+Sans&family=Playpen+Sans:wght@300&family=Roboto+Condensed:ital@1&family=Roboto:wght@300&family=Rubik:wght@300&family=Sedgwick+Ave+Display&display=swap');

* {
    margin: 0;
    padding: 0;}

header {
    margin: 0 50px;
    height: 96px;
    max-width: 1226px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img.logo {
    height: 56px;
    max-height: 60%;
}

img {
    cursor: pointer;
}

.nav {
    width: 100%;
    display: flex;
    text-align: end;
    justify-content: space-around;

}

.navdata {
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    padding-left: 512px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: black;
}

.icon {
    cursor: pointer;
    margin: 15px;
    padding: 6px;
}

.icon:hover {
    color: grey;
}


.head {
    font-family: 'Montserrat', sans-serif;
    margin: 80px 10px 0 0;
    padding: 10px;
    text-align: center;
    font-size: 23px;
}

.subhead {
    font-family: 'Montserrat', sans-serif;
    margin: 15px 75px;
    text-align: center;
    font-size: 25px;
}

button.download {
    color: white;
    background-color: #00b6d1;
    border: none;
    margin: 30px;
    padding: 15px;
    font-size: 14px;
    border-radius: 8px;
}

button.download:hover {
    background-color: #019eb7;
    cursor: pointer;
}

.hotfix{
    font-family: 'Montserrat', sans-serif;
    margin: 10px 180px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.hotfix h3{
    margin: 10px;
}
.hotfix h3 a{
    color: black;
    text-decoration: none;
}
.hotfix h3 small{
    font-size: 10px;
}

footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 310px 310px 310px;
    grid-template-rows: 157px 157px 157px;
    margin: 10px 100px;
    justify-content: center;
}
.box{
    height: 100% grid;
    width: 100% grid;
    margin: 10px;
    background-color: #f9f9f9;
    padding-top: 20px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 14px;
    text-align: center;
}

h3 small{
    font-size: 60%;
    font-weight: 400;
}
.dbutton{
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

button.blue{
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
    height: 33px;
    background-color: #00b6d1;
    border: none;
    padding: 8px 15px;
    padding-bottom: 10px;
    border-radius: 5px;
    justify-content: baseline;
    text-align: center;
    color: white;
}
button.green{
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
    height: 33px;
    background-color: #5cb85c;
    border: none;
    padding: 8px 15px;
    padding-bottom: 10px;
    border-radius: 5px;
    justify-content: baseline;
    text-align: center;
    color: white;
}
.blue:hover{
    background-color: #019eb7;
}
.green:hover{
    background-color: #76ce76;
}
button a{
    color: white;
    text-decoration: none;
}